@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General styling and utility classes */
html {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /* font-family: 'Poppins', sans-serif; */
} 

:root {
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --pink: hsl(322, 100%, 66%);

}

img {
    height: 100%;
    width: 100%;
}
.get-started {
    background-color: var(--pink);
    color: white;
    /* padding: 12px 70px; */
    border-radius: 80px;
    margin-top: 30px;
    font-size: 0.7rem;
    box-shadow: 0 0 2px 2px  rgba(0, 0, 0, 0.4);
}
.bold-text {
    font-family: 'poppins', sans-serif;
    font-size: 1.3rem;
    /* margin: 20px 0; */
    /* margin-top: 50px; */
    color: black;
}

/* Container styling */
.container {
    position: relative;
    width: 375px;
}

/* Nav Styling */
.container > .nav-bar {
    background: url(./images/bg-hero-mobile.svg) no-repeat 
    center center/cover;
    background-color: var(--very-pale-cyan);
    padding: 20px 0;
    padding-bottom: 35px;
}
/* Nav top */
.container > .nav-bar .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px;

}
.container > .nav-bar .nav-top > figure.huddle {
      width: 100px;
      height: 30px;
}
.container > .nav-bar .nav-top > figure.huddle >
img {
    object-fit: contain;
}
.container > .nav-bar .nav-top > div:first-of-type {
    background-color: white;
    padding: 4px 24px;
    border-radius: 29px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
}
/* Nav text and picture */
.container > .nav-bar > .nav-text-pictures {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    /* background-color: yellow; */
}
/* Nav Text */
.container > .nav-bar > .nav-text-pictures > .build-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.container > .nav-bar > .nav-text-pictures > .build-text >
.build-text-bold {
    display: flex ;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 30px;
}
.container > .nav-bar > .nav-text-pictures > .build-text >
p {
    text-align: center;
    padding: 0 15px;
    /* background-color: yellow; */
    line-height: 1.5;
}
.container > .nav-bar > .nav-text-pictures > .build-text >
.get-started {
    background-color: var(--pink);
    color: white;
    padding: 12px 70px;
    border-radius: 80px;
    margin-top: 30px;
    font-size: 0.7rem;
}
.container > .nav-bar > .nav-text-pictures > .nav-big-image {
    margin: 0 30px;
    margin-top: 40px;
}


/* Main Content Styling */
  
.container > .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    padding-bottom: 250px;
}
.container > .main-content > .grow-together {
  display: flex;
  flex-direction: column;
  width: 94%;
  box-shadow: 0 0 2px 2px  rgba(0, 0, 0, 0.1);
  padding: 20px 0px;
  border-radius: 20px;
  margin-top: 40px;
}
.container > .main-content > .grow-together >
figure.grow-together-img {
   margin: 0 40px;
   margin-top: 50px;
}
.container > .main-content > .grow-together >
figure.grow-together-img > img {
   object-fit: contain;
}
/* Grow together text */
.container > .main-content > .grow-together >
.grow-together-text {
    text-align: center;
    padding: 0 13px;
    color: darkgray;
}
.container > .main-content > .grow-together >
.grow-together-text > .bold-text {
    font-family: 'poppins';
    font-size: 1.3rem;
    margin: 20px 0;
    margin-top: 50px;
    color: black;
}


.container > .ready-to-build {
    width: 94%;
    height: fit-content;
    margin: 0 auto;
    padding: 60px 20px;
    padding-bottom: 40px;
    text-align: center;
    box-shadow: 0 0 2px 2px  rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    top: 2650px;
    left: 0;
    right: 0;

    background-color: white;
    z-index: 1;
}
.container > .ready-to-build > .bold-text {
    font-size: 1rem;
}
.container > .ready-to-build > .get-started {
    padding: 15px 30px;
    width: 70%;
    margin: auto; 
    margin-top: 20px;
}

/* Footer Styling */
.container > .bottom-page {
    background-color: var(--very-dark-cyan);
    padding: 0 15px;
    padding-top: 150px;
    color: darkgray;
}
.container > .bottom-page > * {
    display: flex;
}
/* our logo styling footer */
.container > .bottom-page > .footer-huddle {
    display: flex;
    justify-content: flex-start;
    font-size: 2.4rem;
    color: white;
    font-family: 'poppins';
}
/* Location styling */
.container > .bottom-page > .location {
   margin: 25px 0;
   margin-top: 10px;
}
.container > .bottom-page > .location > 
.location-icon {
   width: 50px;
   height: 40px;
   margin-right: 15px;
   padding-bottom: 6px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container > .bottom-page > .location > 
.location-icon > img {
    object-fit: contain;
}
/* Phone styling */
.container > .bottom-page > .phone {
    margin-bottom: 25px;
}
.container > .bottom-page > .phone > 
.phone-icon {
    width: 20px;
    height: 25px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > .bottom-page > .phone > 
.phone-icon > img {
    object-fit: contain;
}
.container > .bottom-page > .email {
    margin-bottom: 60px;
}
.container > .bottom-page > .email > 
.email-icon {
    width: 20px;
    height: 25px;
    margin-right: 12px;
    /* background-color: red; */
}
.container > .bottom-page > .email > 
.email-icon > img {
    object-fit: contain;
    margin-top: 2px;
 }
 .container > .bottom-page > .about-us {
     flex-direction: column;
     height: 210px;
     justify-content: space-between;
     /* color: whitesmoke; */
 }
 /* Socials styling */
 .container > .bottom-page > .socials {
     flex-direction: column;
     margin-top: 40px;
 }
 .container > .bottom-page > .socials > .social-icons {
     display: flex;
     justify-content: space-between;
     width: 120px;
     margin: auto;
 }
 .container > .bottom-page > .socials > .social-icons > 
 figure{
   width: 32px;
   height: 32px;
   border: white 1px solid;
   border-radius: 50%;
   padding: 4px;
 }
 .container > .bottom-page > .socials > .social-icons > 
 figure > img {
     object-fit: contain;
 }
 .container > .bottom-page > .socials > .copyright {
    font-size: 00.7rem;
    text-align: center;
    margin: 30px 0;
    margin-bottom: 69px;
 }

 /* Don't forget you still have to style Desktop. */


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
