@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General styling and utility classes */
html {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /* font-family: 'Poppins', sans-serif; */
} 

:root {
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --pink: hsl(322, 100%, 66%);

}

img {
    height: 100%;
    width: 100%;
}
.get-started {
    background-color: var(--pink);
    color: white;
    /* padding: 12px 70px; */
    border-radius: 80px;
    margin-top: 30px;
    font-size: 0.7rem;
    box-shadow: 0 0 2px 2px  rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.bold-text {
    font-family: 'poppins', sans-serif;
    font-size: 1.3rem;
    /* margin: 20px 0; */
    /* margin-top: 50px; */
    color: black;
}

/* Container styling */
.container {
    position: relative;
    width: 375px;
}

/* Nav Styling */
.container > .nav-bar {
    background: url(./images/bg-hero-mobile.svg) no-repeat 
    center center/cover;
    background-color: var(--very-pale-cyan);
    padding: 20px 0;
    padding-bottom: 35px;
}
/* Nav top */
.container > .nav-bar .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px;

}
.container > .nav-bar .nav-top > figure.huddle {
      width: 100px;
      height: 30px;
}
.container > .nav-bar .nav-top > figure.huddle >
img {
    object-fit: contain;
}
.container > .nav-bar .nav-top > div:first-of-type {
    background-color: white;
    padding: 4px 24px;
    border-radius: 29px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    cursor: pointer;
}
/* Nav text and picture */
.container > .nav-bar > .nav-text-pictures {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    /* height: 900px; */
    /* background-color: yellow; */
}
/* Nav Text */
.container > .nav-bar > .nav-text-pictures > .build-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.container > .nav-bar > .nav-text-pictures > .build-text >
.build-text-bold {
    display: flex ;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 30px;
}
.container > .nav-bar > .nav-text-pictures > .build-text >
p {
    text-align: center;
    padding: 0 15px;
    /* background-color: yellow; */
    line-height: 1.5;
}
.container > .nav-bar > .nav-text-pictures > .build-text >
.get-started {
    background-color: var(--pink);
    color: white;
    padding: 12px 70px;
    border-radius: 80px;
    margin-top: 30px;
    font-size: 0.7rem;
}
.container > .nav-bar > .nav-text-pictures > .nav-big-image {
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
}


/* Main Content Styling */
  
.container > .main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    padding-bottom: 250px;
}
.container > .main-content > .grow-together {
  display: flex;
  flex-direction: column;
  width: 94%;
  box-shadow: 0 0 2px 2px  rgba(0, 0, 0, 0.1);
  padding: 20px 0px;
  border-radius: 20px;
  margin-top: 40px;
}
.container > .main-content > .grow-together >
figure.grow-together-img {
   margin: 0 40px;
   margin-top: 50px;
}
.container > .main-content > .grow-together >
figure.grow-together-img > img {
   object-fit: contain;
}
/* Grow together text */
.container > .main-content > .grow-together >
.grow-together-text {
    text-align: center;
    padding: 0 13px;
    color: darkgray;
}
.container > .main-content > .grow-together >
.grow-together-text > .bold-text {
    font-family: 'poppins';
    font-size: 1.3rem;
    margin: 20px 0;
    margin-top: 50px;
    color: black;
}
/* Ready to build */
.keep-position {
    position: relative;
}
.container > .keep-position > .ready-to-build {
    width: 94%;
    height: fit-content;
    margin: 0 auto;
    padding: 60px 20px;
    padding-bottom: 40px;
    text-align: center;
    box-shadow: 0 0 2px 2px  rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: absolute;
    top: -110px;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}
.container > .ready-to-build > .bold-text {
    font-size: 1rem;
}
.container > .ready-to-build > .get-started {
    padding: 15px 30px;
    width: 70%;
    margin: auto; 
    margin-top: 20px;
}

/* Footer Styling */
.container > .bottom-page {
    background-color: var(--very-dark-cyan);
    padding: 0 15px;
    padding-top: 150px;
    color: darkgray;
}
.container > .bottom-page > * {
    display: flex;
}
.container > .bottom-page > .footer-left{
  flex-direction: column;
}
/* our logo styling footer */
.container > .bottom-page > .footer-left > .footer-huddle {
    display: flex;
    justify-content: flex-start;
    font-size: 2.4rem;
    color: white;
    font-family: 'poppins';
}
/* Location styling */
.container > .bottom-page > .footer-left > .location {
    display: flex;
   margin: 25px 0;
   margin-top: 10px;
}
.container > .bottom-page > .footer-left > .location > 
.location-icon {
   width: 50px;
   height: 40px;
   margin-right: 15px;
   padding-bottom: 6px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container > .bottom-page > .footer-left > .location > 
.location-icon > img {
    object-fit: contain;
}
/* Phone styling */
.container > .bottom-page > .footer-left > .phone {
    display: flex;
    margin-bottom: 25px;
}
.container > .bottom-page > .footer-left > .phone > 
.phone-icon {
    width: 20px;
    height: 25px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > .bottom-page > .footer-left > .phone > 
.phone-icon > img {
    object-fit: contain;
}
.container > .bottom-page > .footer-left > .email {
    display: flex;
    margin-bottom: 60px;
}
.container > .bottom-page > .footer-left > .email > 
.email-icon {
    width: 20px;
    height: 25px;
    margin-right: 12px;
    /* background-color: red; */
}
.container > .bottom-page > .footer-left .email > 
.email-icon > img {
    object-fit: contain;
    margin-top: 2px;
 }
 .container > .bottom-page > .about-us {
    flex-direction: column;
 }
 .container > .bottom-page > .about-us  p {
    display: flex;
    flex-direction: column;
    height: 50px;
    /* justify-content: space-between; */
    /* color: whitesmoke; */
 }
 

 /* Socials styling */
 .container > .bottom-page > .socials {
    flex-direction: column;
    margin-top: 40px;
 }
 .container > .bottom-page > .socials > .social-icons {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin: auto;
 }
 .container > .bottom-page > .socials > .social-icons > 
 figure{
   width: 32px;
   height: 32px;
   border: white 1px solid;
   border-radius: 50%;
   padding: 4px;
 }
 .container > .bottom-page > .socials > .social-icons > 
 figure:hover {
    color: var(--pink);
    border: var(--pink) 1px solid;
 }
 .container > .bottom-page > .socials > .social-icons > 
 figure > img {
     object-fit: contain;
 }
 .container > .bottom-page > .socials > .copyright {
    font-size: 00.7rem;
    text-align: center;
    margin: 30px 0;
    margin-bottom: 69px;
 }

 /* Don't forget you still have to style Desktop. */


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (min-width:900px) {
    .container {
        width: 100%;
    }
}
@media (min-width:1400px) {
    .container {
        width: 100%;
    }
    .container > .nav-bar .nav-top {
        padding:0 70px;
    }

    /* Nav text and picture */
    .container > .nav-bar > .nav-text-pictures {
       justify-content: space-between;
       /* background-color: yellow; */
       padding: 0 70px;
       /* height: 500px; */
    }
    /* Nav Text */
    .container > .nav-bar > .nav-text-pictures > .build-text {
        width: 40%;
        /* background-color: green; */
        padding: 0;
        text-align: start;
        align-items: start;
        font-size: 1.3rem;
    }
    .container > .nav-bar > .nav-text-pictures > .build-text >
    .build-text-bold {
        font-size: 2.1rem;
    }
    .container > .nav-bar > .nav-text-pictures > .build-text
    > p {
        padding: 0;
        text-align: start;
     }
    .container > .nav-bar > .nav-text-pictures > .build-text >
    .get-started {
        padding: 20px 80px;
    }
    .container > .nav-bar > .nav-text-pictures > 
    .nav-big-image {
        width: 50%;
        /* height: 500px; */
        /* background-color: rebeccapurple; */
        margin: 0;
    }
    
    /* Main content styling */
    .container > .main-content {
        padding: 0 60px;
        margin-top: 100px;
        padding-bottom: 250px;
    }
    .container > .main-content > .grow-together {
        flex-direction: row-reverse;
        justify-content: center;
    }
    .container > .main-content > .grow-together >
    figure.grow-together-img {
        width: 40%;
        margin-bottom: 50px;
    }
    /* Grow together text */
    .container > .main-content > .grow-together >
    .grow-together-text {
        flex-direction: column;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        width: 50%;
        /* background-color: yellow; */
        padding: 0 73px;
        font-size: 1.2rem;
        text-align: start;
    }
    /* Ready to build */
   

    .container > .keep-position >  .ready-to-build  {
        width: 40%;
        /* top: 3300px; */
    }
    /* Footer styling */
    .container > .bottom-page {
        display: flex;
        justify-content: space-between;
        padding: 0 65px;
        padding-top: 150px;
        padding-bottom: 89px;

    }
    /* Footer-left */
    .container > .bottom-page > .footer-left  {
        width: 30%;
    }

    .container > .bottom-page > .about-us {
        flex-direction: row;
        width: 20%;
        justify-content: space-between;
        margin-top: 70px;
    }
    /* Socials styling */
    .container > .bottom-page > .socials {
        display: flex;
        width: 20%;
        /* background-color: gray; */
        margin-top: 70px;
        padding-top: 0;
        justify-content: space-between;
    }
    .container > .bottom-page > .socials > .social-icons {
        margin: 0;
    }
    .container > .bottom-page > .socials > .copyright {
        margin-bottom: 30px;
        text-align: start;
    }

}
/* * {
    outline: 1px solid limegreen !important;
}  */

/* * {
    background: rgb(0 100 0 / 0.1) !important;

} */